<!DOCTYPE html>
<html>
<head>
<style>
.scoreboard {
    border-collapse: collapse;
}
.scoreboard td {
    border: 1px black solid;
    text-align: center;
}
.scoreboard thead td {
    border-bottom: 3px black solid;
    text-align: center;
}
.userhead {
    width: 15em;
}
.scorehead {
    width: 5em;
}
.timehead {
    width: 10em;
}
</style>
<title>Scoreboard</title>
</head>

<body>

<h2>Scoreboard for seed "<%= seed %>"</h2>

    <% entriesByVersion.forEach(function([version, entries]) { %>
    <% if (version != currentVersion) { %>
    <h3> For older version <%= version %> </h3>
    <% }; %>
    
<table class='scoreboard'>
    <thead>
        <tr>
            <td class='userhead'> Username </td>
            <td class='scorehead'> Score </td>
            <td class='timehead'> Time </td>
        </tr>
    </thead>
    <tbody>
        <% entries.forEach(function(r) { %>
        <tr> 
            <td><%= r.username %></td>
            <td><%= r.score %></td>
            <td><%= r.timesince %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
    <% }); %>

</body>
</html>
